<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Dynamic Directory Index</title>
  </head>
  
  <body>
    <table id='list'>
      <tr class='desc'>
        <td colspan="2"><h3>Here are all available files!</h3></td>
      </tr>
      <% @list.each do |name| %>
      <tr class="link">
        <td colspan="2">
          <a href=<%= "/public/#{name}" %>><%= name %></a>
        </td>
      </tr>
      <% end %>
      <tr class='desc'>
        <td colspan="2">Sort files by:</td>
      </tr>
      <tr>
        <td class="link"><a href="/?sort=ascending">Ascending</a></td>
        <td class="link"><a href="/?sort=descending">Descending</a></td>
      </tr>
    </table>
  </body>
</html>
