<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>File Not Found</title>
  </head>
  
  <body>
    <p>The file cannot be found.<p>

    <p><a href="/">Click here to return to index</a></p>
  </body>
</html>
